services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    hostname: zookeeper
    container_name: zookeeper-tlng
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    hostname: kafka
    container_name: kafka-tlng
    depends_on:
      - zookeeper
    ports:
      - "9093:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

  kafka-init:
    image: confluentinc/cp-kafka:7.3.0
    depends_on:
      - kafka
    entrypoint: [ '/bin/sh', '-c' ]
    command: |
      "
      echo 'Waiting for Kafka to be ready...'
      cub kafka-ready -b kafka:29092 1 30
      
      echo 'Creating topic log_submissions...'
      kafka-topics --create --if-not-exists --bootstrap-server kafka:29092 --partitions 6 --replication-factor 1 --topic log_submissions
      
      echo 'Topic created successfully!'
      "

  postgres:
    image: postgres:13-alpine
    hostname: postgres
    container_name: postgres-tlng
    environment:
      POSTGRES_USER: testuser
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: testdb
    ports:
      - "5433:5432"
    volumes:
      - ~/docker-volumes/tlng-postgres-data:/var/lib/postgresql/data
      - ./scripts/db/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
      - ./scripts/db:/scripts
    restart: always

  ingestion:
    build:
      context: .
      dockerfile: cmd/ingestion/Dockerfile
    container_name: ingestion-service-tlng
    depends_on:
      - postgres
      - kafka
      - kafka-init
    ports:
      - "8091:8091"  # HTTP
      - "50051:50051"  # gRPC
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./config/ingestion.defaults.yml:/app/config/ingestion.defaults.yml
    restart: always

  engine:
    build:
      context: .
      dockerfile: cmd/engine/Dockerfile
    container_name: engine-service-tlng
    depends_on:
      - postgres
      - kafka
      - kafka-init
    environment:
      - TZ=Asia/Shanghai
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./config/engine.defaults.yml:/app/config/engine.defaults.yml
      - ./config/blockchain.defaults.yml:/app/config/blockchain.defaults.yml
      - ./config/clients:/app/config/clients
      - /home/songquan/chainmaker/chainmaker-go:/app/chainmaker-go:ro
    restart: always

  query:
    build:
      context: .
      dockerfile: cmd/query/Dockerfile
    container_name: query-service-tlng
    depends_on:
      - postgres
    ports:
      - "8083:8083"
    environment:
      - TZ=Asia/Shanghai
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./config/query.defaults.yml:/app/config/query.defaults.yml
      - ./config/blockchain.defaults.yml:/app/config/blockchain.defaults.yml
      - ./config/clients:/app/config/clients
      - ~/docker-volumes/tlng-query-logs:/var/log/query
      - /home/songquan/chainmaker/chainmaker-go:/app/chainmaker-go:ro
    restart: always